/* GLOBAL *********************************************************************/
body {
  overflow-x: hidden;
}
h1, p {
  font-weight: 900;
  margin-top: 20px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top:20px;
}
/* NAVBAR *********************************************************************/
.nav {
  display: none;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #3e4c57;
}
.nav > a.active {
  color: white;
}
.nav > a {
  color: grey;
}
/* HOME SECTION ***************************************************************/
.home-section {
  height: 100vh;
  /*background-image: url(../img/);*/
  background-image: url(../img/place_graslin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 35%;
}
.home-section > img {
  height: 150px;
  width: 180px;
}

#logo{
	width:150px;
	position:absolute;
	margin-left:-550px;
}

.title {
  padding-top: 15px;
  background-color:#3e4c57;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.title > h1 {
  text-transform: uppercase;
}
/* MAP SECTION ****************************************************************/
.map-section {
  height: 100vh;
}
.map-active {
  display: block!important;
}
.actu-img {
  display: none;
  height: 100%;
  width: 100%;
  background-image: url(../img/actu-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 116%;
}
.history-img-small {
  margin-left: 25px;
  margin-top: 25px;
  height: 200px;
  width: 260px;
}
.actu-img-small {
  margin-left: 25px;
  margin-top: 25px;
  height: 200px;
  width: 260px;
}
.history-img {
  display: none;
  display: none;
  height: 100%;
  width: 100%;
  background-image: url(../img/history-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.picto-royale {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 260px;
  margin-left: 820px;
}
.picto-graslin {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 290px;
  margin-left: 790px;
}
.picto-calvaire {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-top: 230px;
  margin-left: 780px;
}
.picto-pirmil {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 590px;
  margin-left: 977px;
}
.modal-dialog {
  max-width: 860px;
}
.img-carousel {
    max-height: 560px;
    width: 100%;
}
.portrait-img {
  margin-left: 100px;
  width: auto;
  margin-left: 230px;
}
.carousel-control-next-icon, .carousel-control-prev-icon  {
    background-size: 30px 30px;
    background-color: black;
    opacity: 0.7;
}
.carousel-control-prev-icon  {
  width: 40px;
  height: 40px;
}
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-position-x: 100%;
}
/* GALERY SECTION *************************************************************/
.galery-section {
  height: auto;
  padding-top: 100px
  padding-right: 50px;
  padding-left: 50px;
}
.card-text {
  color: black;
}
.card {
  width: 570px;
  border: none;
}
/* QUIZZ SECTION **************************************************************/
.quizz-section {
  padding-top: 15%;
  height: 100vh;
  text-align: center;
  background-image: url(../img/place_royal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.quizz-section > a {
  margin-top: 100px;
}

/* Footer **************************************************************/

#foot{
	height:200px;
	background-color: #e4e4e4;
}

#all_logo{
	margin-left: 30%;
	position:absolute;
}

#logo_archive{
	width:150px;
	padding: 50px 20px;
}

#logo_ynov{
	width:150px;
	padding: 10px 20px;
}

#logo_imie{
	width:160px;
	padding: 10px 20px;
}

#logo_metropole{
	width:250px;
	padding: 10px 20px;
}

#participant{
	position:absolute;
	margin-left:92%;
	margin-top:1%;
}
