body{
	background: #3d3a34;
	color:white;
}

#table{
	background:transparent;
}

#form{
	margin-left:40%;
}

#q1{
	height: 150px;
	width: 180px;
}

#q2{
	height: 150px;
	width: 180px;
}

#q3{
	height: 150px;
	width: 180px;
}

.button{
	margin-left:15%;
}
